# Server Environment Variables
# Copy this file to .env and fill in the values

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://mssingh8373_db_user:1dolOu846hPRmfv4@careerpilotaicluster.vpitefa.mongodb.net/?appName=CareerPilotAiCluster


# JWT
JWT_SECRET=6d013d3af8e48fd1300a672b92bab94869b21d77028823cc66672a0d0c1d491458d31907aa85894b9fe685b3e0fdebe049cc16b75806b897a7842e16b4d41a91
JWT_EXPIRES_IN=7d

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ms.singh8373@gmail.com
SMTP_PASS=jxjo fvxk bymw blcd
EMAIL_FROM=noreply@careerpilot.com

# Client URL (for CORS and email links)
CLIENT_URL=http://localhost:5173
